@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');

body {
    box-sizing: border-box;
    background-image: url(./images/bg-stars.svg);
    background-color: #201e2b;
    font-family: 'Red Hat Text', sans-serif;
    font-size: 12px;
}


h1,
p,
body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

}

.container-card {
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.title {
    text-transform: uppercase;
    color: white;
    letter-spacing: 0.3rem;
    font-weight: bold;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
    color: #8b8aa6;
    margin-top: 50px;
}

.number {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #d04b6c;
    font-weight: bold;
    font-size: 32px;
    width: 120px;
    height: 120px;
    box-shadow: 0 5px 1px black;
    border-radius: 7px;
    background: linear-gradient(#2c2c44 50%, #34364f 50%);
}

.number::before {
    position: absolute;
    left: 0;
    content: "";
    width: 8px;
    height: 8px;
    background-color: #1b1c25;
    clip-path: circle(50% at 0%);
}

.number::after {
    position: absolute;
    right: 0;
    content: "";
    width: 8px;
    height: 8px;
    background-color: #1b1c25;
    clip-path: circle(50% at 0%);
    transform: rotate(0.5turn);
}

.sub-title {
    position: relative;
    font-size: 12px;
    text-transform: uppercase;
}

.footer-logo {
    width: 100%;
    height: 27vh;
    overflow: hidden;
    background-image: url(./images/pattern-hills.svg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.contact-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.logo i {
    width: 20px;
    height: 20px;
}

.logo i:hover {
    color: #d04b6c;
}